node_modules

/.cache
/functions/\[\[path\]\].js
/functions/\[\[path\]\].js.map
/public/build
.env

.cache
.env
.vercel
.output

/build/
/public/build
/api/index.js
/api/index.js.map

/prisma/dev.db
/prisma/dev.db-journal

/app/styles/tailwind.css